*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: var(--#{$variable-prefix}body-line-height);
}

dl,
ol,
ul {
  margin-top: 0;
}

blockquote{
  margin: 0;
  padding: 0 1rem;
  border-left: 0.25rem solid #88888850;
}
